doctype html 
html 
  head
    title dance academy 
    block script 
    block style 
  body 
    <nav>
        <ul><li><a href="#"> home</a> </li>
        <li><a href="#">about</a></li>
        <li><a href="#">services</a></li>
        <li><a href="/contact">contacts</a></li></ul>
    </nav>
    block content 

    block footer 