
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    style 
      include style.css
    script 
      include index.js
   
    
</head>
<body>
    <h1 align = "center">this is my heading</h1>
    <nav >
        <ul><li><a href="#"> home</a> </li>
        <li><a href="#">about</a></li>
        <li><a href="#">services</a></li>
        <li><a href="#">contacts</a></li></ul>
    </nav>
    <section id = "intro">picture </section>
    <section id="sponser">
      <div class="card">
        <div class="content">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque ducimus et animi facilis quis delectus!</div>
        <div class="img"><img src="../static/dance_academy.jpg" alt="" ></div>
      </div>
      <div class="card"> <div class="content">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque ducimus et animi facilis quis delectus!</div>
      <div class="img"><img src="../static/dance_academy.jpg" alt="" ></div></div>
      <div class="card"> <div class="content">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque ducimus et animi facilis quis delectus!</div>
      <div class="img"><img src="../static/dance_academy.jpg" alt="" ></div></div>
    </section>
    <footer id="footer"> </footer>
</body>
</html>